form.form.contacts__form(action="#", method="POST")
  h3.form__title форма обратной связи
  input.form__input(type="text", name="name", placeholder="Ваше имя", required)
  input.form__input(type="tel", placeholder="+380 (__) ___ - __ - __", name="tel", required)
  textarea.form__area(placeholder="Ваше сообщение", required)
  button.btn.btn-primary.form__btn(type="submit") отправить