mixin price-tile(item)
 .price-tile
    h3.price-tile__caption= item.caption
    p.price-tile__category= item.categ
    p.price-tile__text= item.text
    span.price-tile__size= item.size
    a.price-tile__link(href="#") Скачать