.tabs.contacts__tabs
  ul.tabs__controls
    li.active киев
    li днепр
    li запорожье
    li харьков
    li одесса
    li львов
  .tabs__item.active
    .tabs__map(data-lat="50.493330", data-lng="30.487950")
    include tooltip
  .tabs__item
    .tabs__map(data-lat="48.482033", data-lng="35.077154")
    include tooltip
  .tabs__item
    .tabs__map(data-lat="47.854383", data-lng="35.128795")
    include tooltip
  .tabs__item
    .tabs__map(data-lat="49.942583", data-lng="36.272153")
    include tooltip
  .tabs__item
    .tabs__map(data-lat="46.460607", data-lng="30.696855")
    include tooltip
  .tabs__item
    .tabs__map(data-lat="49.870063", data-lng="23.943302")
    include tooltip