.tooltips.tabs__tooltips
  h4.tooltips__title ул. Куреневская, 16а
  ul.tooltips__list
    li.tooltips__item
      a.tooltips__link.tooltips__link--tel(href="tel:+380444992990") (44) 499-29-90
    li.tooltips__item
      a.tooltips__link.tooltips__link--tel(href="tel:+380444590041") (44) 459-00-41
      p.tooltips__desc Отдел сбыта
    li.tooltips__item
      a.tooltips__link.tooltips__link--tel(href="tel:+380443907017") (44) 390-70-71
      p.tooltips__desc Отдел снабжения
    li.tooltips__item
      a.tooltips__link.tooltips__link--tel(href="tel:+380444992957") (44) 499-29-57
      p.tooltips__desc Бухгалтерия
  a.tooltips__link.tooltips__link--mail(href="mailto:sbut@santehkomplekt.ua") sbut@santehkomplekt.ua
  a.tooltips__link.tooltips__link--mail(href="mailto:snab@santehkomplekt.ua") snab@santehkomplekt.ua
