@import "variables";
@import "bourbon/bourbon";
@import "fonts";
@import "helpers";

:root {
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  -o-text-size-adjust: none;
  text-size-adjust: none;
}

body {
  font-family: $font-default;
  font-size: $font-size;
}

hr {
  display: block;
  border: none;
  background: #000;
  height: 1px; width: 3rem;
  margin: 1.14rem auto; padding: 0;
}

audio, canvas, iframe, img, svg, video {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

h2 {
  font-size: $font-size * 1.25;
  font-weight: bold;
}

p { margin: 0 0 1em 0; font-size: $font-size * .875; }

.breadcrumb {
  margin: em(36px) 0 0;
  padding-left: 0;
  background-color: rgba(0,0,0,0);
  font-size: $font-size * .875;
  a { color: $color-text-light; }
  .active {
    font-weight: bold;
    color: $color-decor-main;
    &::before { content: '\2013'; }
  }
}

.btn-primary {
  padding: em(16px) em(20px);
  border-radius: 0;
  background-color: $color-decor-main; //$color-btn;
  border: none;
  transition: all .3s ease;
  &:hover,
  &:active,
  &:focus {
    background-color: lighten($color-decor-main, 5%);
  }
}

.section-title {
  text-transform: uppercase;
}

.section-seo {
  margin: em(80px) 0 em(60px);

  &__title {
    margin: 0;
    font-size: em(20px);
    font-weight: 400;
    color: $color-decor-main;
  }

  &__row {
    display: flex;
    margin: 0 rem(-20px);
  }

  &__desc {
    flex: 1;
    margin: em(50px) rem(20px) 0;
    font-size: em(12px);
    color: #adadad;
  }
}

.no-margin {
  margin-right: 0;
  margin-left: 0;
  padding-left: 0;
  padding-right: 0;
}

@import "partials/contacts";
@import "partials/tabs";
@import "partials/form";
@import "partials/brands";
@import "partials/tooltip";