extends layouts/main.pug

block body
  main.content
    .container
      .row
        .col-md-9.col-md-offset-3
          include partials/price
      .section-seo
        h3.section-seo__title Название или описание блока для SEO, оно может быть длинным, таким вот, например
        .section-seo__row
          p.section-seo__desc Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer tincidunt sodales massa vitae volutpat. Nullam nec odio a neque ornare varius. Sed aliquet pulvinar eleifend. Aliquam ac semper justo, sed egestas quam. Nunc sodales pharetra nulla et maximus. Sed rutrum ligula non dolor dapibus consectetur. Proin at dui blandit, ornare elit non, placerat nulla. Curabitur volutpat, eros et commodo interdum, orci velit molestie tellus, ac egestas lorem magna vestibulum nisl. Ut consectetur ipsum augue, et iaculis augue dictum ac.
          p.section-seo__desc Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer tincidunt sodales massa vitae volutpat. Nullam nec odio a neque ornare varius. Sed aliquet pulvinar eleifend. Aliquam ac semper justo, sed egestas quam. Nunc sodales pharetra nulla et maximus. Sed rutrum ligula non dolor dapibus consectetur. Proin at dui blandit, ornare elit non, placerat nulla. Curabitur volutpat, eros et commodo interdum, orci velit molestie tellus, ac egestas lorem magna vestibulum nisl. Ut consectetur ipsum augue, et iaculis augue dictum ac.